html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  font-size: 62.5%;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen {
  height: 100vh;
}

.pen {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 8px;
  background: #1e1f26;
}

.pen__details {
  flex: 1;
  color: white;
}

.pen__details h1 {
  font-size: 1.7em;
}

.pen__details p {
  font-size: 1.2em;
  margin: 0;
}

.button {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px 16px;
  margin-right: 10px;
  border-radius: 4px;
  border: 3px solid transparent;
  background: #444857;
  color: white;
  cursor: pointer;
  text-align: center;
}

.button--small {
  font-size: 1.5em;
  padding: 2px 9px;
  margin: 5px;
  border-width: 1px;
  border-radius: 2px;
}

.button:hover {
  background-color: lightgray;
}

.code {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  background-color: white;
}

.editor {
  flex: 1 1 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 15px solid grey;
  border-left: 15px solid grey;
}

.editor__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.editor__heading {
  flex-grow: 1;
}

.editor__code {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #1d1e22;
  box-sizing: border-box;
}

.editor__gutter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 1;
  font-size: 1.4em;
  padding: 3px;
  color: rgb(255, 255, 255, 0.6);
  background-color: #1d1e22;
}

.editor__input {
  width: 100%;
  resize: none;
  background-color: #1d1e22;
  color: white;
  border: none;
}

.preview {
  width: 100%;
  height: 49%;
  background-color: gray;
  display: flex;
  justify-content: center;
}

iframe {
  flex: 1;
}
